/* Reset básico para remover margens e paddings padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo para o corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

/* Contêiner principal */
.container {
    background: #fff;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

/* Estilo para os títulos */
h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #444;
}

/* Estilo para os links */
a {
    color: #0081aa;
    text-decoration: none;
    font-size: 14px;
    margin-top: 10px;
    display: inline-block;
}

a:hover {
    text-decoration: underline;
}

/* Estilo para os formulários */
form {
    margin-top: 10px;
}

/* Estilo para os labels */
label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Estilo para os inputs */
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

/* Estilo para o botão */
button {
    background-color: #0081aa;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

button:hover {
    background-color: #04394d;
    transition: background-color 0.3s, transform 0.3s;
}

/* Mensagens de status */
p {
    margin: 10px 0;
}
