@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Brawler:wght@400;700&display=swap");

html,
body {
    height: 100%;
    font-family: "Brawler", sans-serif !important;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #9D9999;
    padding: 20px 0;
}

.header-content {
    display: flex;
        /* Certifique-se de que o display esteja definido */
    align-items: center;
    justify-content: space-between;
        padding: 20px 0;
}

h1 {
    font-size: 100px;
        /* Altere para tamanhos responsivos usando media queries, se necessário */
    margin: 0;
    text-align: center;
}

nav .nav-link {
    color: #000000 !important;
    /* Adicione !important para garantir que o estilo se aplique */
}

nav .nav-link:hover {
    text-decoration: underline;
    color: #000000 !important;
    /* Adicione !important para garantir que o estilo se aplique */
}

#main {
    padding: 20px 15px;
    /* Espaçamento nas laterais */
}

h1 {
    font-size: 2.5rem;
    /* Tamanho maior para dispositivos grandes */
    margin-bottom: 1rem;
    /* Espaço abaixo do título */
}

h2 {
    font-size: 2rem;
    /* Tamanho do subtítulo */
    margin-bottom: 1rem;
    /* Espaço abaixo do subtítulo */
}

p {
    font-size: 1rem;
    /* Tamanho padrão do texto */
    line-height: 1.5;
    /* Altura da linha para melhor legibilidade */
    margin-bottom: 1.5rem;
    /* Espaço abaixo do parágrafo */
}

/* Estilos para telas maiores (tablets e desktops) */
@media (min-width: 768px) {
    h1 {
        font-size: 3rem;
        /* Tamanho do título em telas maiores */
    }

        h2 {
            font-size: 2.5rem;
            /* Tamanho do subtítulo em telas maiores */
        }

        p {
            font-size: 1.2rem;
            /* Aumenta o tamanho da fonte em telas maiores */
        }
}

/* Estilos para telas ainda maiores */
@media (min-width: 1024px) {
    h1 {
        font-size: 4rem;
        /* Tamanho ainda maior para o título */
    }

        h2 {
            font-size: 3rem;
            /* Tamanho ainda maior para o subtítulo */
        }

        p {
            font-size: 1.5rem;
            /* Aumenta ainda mais o tamanho da fonte */
        }
}

footer {
    background-color: #9D9999;
        /* Cor de fundo do footer */
        padding: 15px 0;
        /* Espaçamento do footer */
}

.footer p {
    margin: 0;
    /* Remove margem padrão do parágrafo */
    font-size: 1rem;
    /* Tamanho padrão da fonte no footer */
}
