/* Estilos para telas maiores (tablets e desktops) */
@media (min-width: 768px) {
    h1 {
        font-size: 3rem;
        /* Tamanho do título em telas maiores */
    }

        h2 {
            font-size: 2.5rem;
            /* Tamanho do subtítulo em telas maiores */
        }

        p {
            font-size: 1.2rem;
            /* Aumenta o tamanho da fonte em telas maiores */
        }
}

/* Estilos para telas ainda maiores */
@media (min-width: 1024px) {
    h1 {
        font-size: 4rem;
        /* Tamanho ainda maior para o título */
    }

        h2 {
            font-size: 3rem;
            /* Tamanho ainda maior para o subtítulo */
        }

        p {
            font-size: 1.5rem;
            /* Aumenta ainda mais o tamanho da fonte */
        }
}