@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Brawler:wght@400;700&display=swap");

html,
body {
    height: 100%;
    font-family: "Brawler", sans-serif !important;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #9D9999;
    padding: 20px 0;
}

.header-content {
    display: flex;
        /* Certifique-se de que o display esteja definido */
    align-items: center;
    justify-content: space-between;
        padding: 20px 0;
}
h1 {
    font-size: 100px;
        /* Altere para tamanhos responsivos usando media queries, se necessário */
    margin: 0;
    text-align: center;
}

nav .nav-link {
    color: #000000 !important;
    /* Adicione !important para garantir que o estilo se aplique */
}

nav .nav-link:hover {
    text-decoration: underline;
    color: #000000 !important;
        /* Adicione !important para garantir que o estilo se aplique */
}

main {
    flex: 1;
    /* Faz com que o main ocupe todo o espaço disponível */
}

footer {
    background-color: #9D9999;
    padding: 15px 0;
    text-align: center;
    /* Garante que o rodapé fique no final da página */
}

footer p {
    font-size: 14px;
    margin: 0;
}
