.about {
    margin-top: 25px;
}

#doacoes {
    padding: 20px 0;
}

#doacoes ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

#doacoes ul li {
    margin: 0 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#doacoes ul li img {
    width: 80px;
    height: auto;
    margin-bottom: 10px;
}

#doacoes ul li a {
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    color: #000000;
}

#doacoes ul li a:hover {
    text-decoration: underline;
}
