@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Brawler:wght@400;700&display=swap");

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    font-family: "Brawler", sans-serif !important;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#content {
    flex: 1;
    padding-left: 15px;
}

header {
    background-color: #9D9999;
    padding: 20px 0;
}

.header-content {
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

h1 {
    font-size: 100px;
    margin: 0;
    text-align: center;
    flex-grow: 1;
}

nav .nav-link {
    color: #000000;
}

nav .nav-link:hover {
    text-decoration: underline;
    color: #000000;
}

.about {
    margin-top: 25px;
}

#doacoes {
    padding: 20px 0;
}

#doacoes ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

#doacoes ul li {
    margin: 0 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#doacoes ul li img {
    width: 80px;
    height: auto;
    margin-bottom: 10px;
}

#doacoes ul li a {
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    color: #000000;
}

#doacoes ul li a:hover {
    text-decoration: underline;
}

footer {
    background-color: #9D9999;
    padding: 15px 0;
    text-align: center;
}

footer p {
    font-size: 14px;
    margin: 0;
}
